body {
  width: 1280px;
}
div#wrapper {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0 18px;
}
p {
  font-size: 1.2em;
  text-align: left;
}

/* Layout */
div#instructions {
  margin-bottom: 2em;
  padding: .5em 1em;
  background: #F1F1F1;
  border-radius: 10px;
}
div#target_value,
div#bucket,
div#live_sum {
  float: left;
}
div#bucket {
  margin: 0 200px;
}
div#glyphs {
  clear: both;
  text-align: left;
}
div#help {
  clear: both;
  padding-top: 2em;
  text-align: left;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/* Content */
div#target_value {
  font-size: 5em;
}
div#live_sum {
  font-size: 3.5em;
}
div#total {
  font-weight: bold;
  border-top: 1px solid #000000;
}
#glyphs ul {
  clear: both;
  float: left;
  margin: 2em 0;
}
#glyphs li {
  list-style-type: none;
  float: left;
  margin: 10px 10px 6px 0;
}
#glyphs li#glyph-10 {
  clear: both;
}
#glyphs li img {
  height: 80px;
  width: 80px;
}
#bucket {
  width: 300px;
  height: 300px;
  margin: 10px;
  background: #888;
}
#bucket p {
  color: #FFFFFF;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-top: 120px;
}

/* Modal overlays */
.help_overlay {
  display: none;
}
.ui-widget-overlay {
  opacity: .8;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.help_overlay ul li {
  list-style-type: none;
  height: 40px;
  padding-left: 40px;
}
.help_overlay ul li.dots {
  background: url('../media/images/numbers/1.png') no-repeat left top;
  background-size: 30px 30px;
}
.help_overlay ul li.lines {
  background: url('../media/images/numbers/5.png') no-repeat left top;
  background-size: 30px 30px;
}
.help_overlay ul li.six {
  background: url('../media/images/numbers/6.png') no-repeat left top;
  background-size: 30px 30px;
}
