body {
  background: url(../../assets/images/theme/bg.jpg) repeat;
  color: rgb(255,255,255);
  font-family: "Serifa Std";
  height: 768px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-family: "Univers39-UltraCondensedThin";
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  background: url(../../assets/images/theme/underline.png) repeat-x 0px 63px;
  font-weight: lighter;
  display: inline;
  float: left;
  padding-bottom: 20px;
  font-size: 54px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: rgb(128, 161, 182);
  margin: 0;
}

/* Header */
div#language_bar {
  color: rgba(255,255,255,.5);
  height: 34px;
  padding-top: 16px;
  font-family: "Univers 75 Black";
  background: url(../../assets/images/theme/bg_header.png) repeat-x;
  text-transform: uppercase;
  font-size: 12px;
}
div#language_bar span#en {
  margin-right: 56px;
}
div#language_bar span#es {
  margin-right: 100px;
}
span.selected {
  color: rgb(255,255,255);
}
#instructions p {
  font-size: 18px;
  width: 400px;
}

/* Layout */
div#wrapper {
  background: none;
  width: auto;
  padding: 10px 60px 0;
  margin: 0 auto;
}
#column-left {
  clear: both;
  width: 450px;
}
#column-middle {
  background: #262626;
  margin: 0 60px 0 20px;
  width: 460px;
}
#column-right {
  float: right;
  width: 250px;
}
footer {
  position: fixed;
  bottom: 0;
  clear: both;
  width: 1211px; /* 1366 - 85 - 70 = 1211 */
  height: 55px;
  padding: 0 70px 0 85px;
}

/* Left column */
#instructions {
  margin: 10px 0 -20px;
  min-height: 75px;
}
body.level-1 #instructions {
  min-height: 50px;
}
#instructions p.level-1 {
  display: none;
}
#instructions p {
  margin: 0;
}
#glyphs li img {
  box-shadow: 0 0 7px #000;
}

/* Middle column */
.bucket div.dropzone {
  background: url(../../assets/images/theme/bg_bucket.png) no-repeat;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.bucket div.dropzone.full {
  opacity: 1;
}
#btn-next {
  background: url(../../assets/images/theme/bg_next.png) no-repeat;
  border: none;
  width: 171px;
  height: 41px;
  border: none;
  box-shadow: 0px 0px 10px #262626;
}
#btn-next span {
  text-transform: uppercase;
  font-family: "Univers 75 Black";
  font-size: 12px;
  color: #FFFFFF;
  position: relative;
  top: 12px;
  left: -17px;
}
body.spanish #btn-next {
  font-size: 9px;
}
div#status {
  border: none;
  position: static;
}
#column-middle, div#fact-wrap {
  box-shadow: 0 0 15px #000;
}

/* Right column */
div#bubble-wrap {
  background: url(../../assets/images/theme/circle.png) no-repeat;
  height: 245px;
  width: 245px;
  text-align: center;
  position: relative;
  top: -10px;
}
#bubble-wrap p {
  width: 150px;
  font-style: italic;
  margin: 0 auto 10px;
}
body.spanish #bubble-wrap p {
  font-size: 14px;
}
body.level-2 div#target_value {
  font-size: 32px;
}
body.level-3 div#target_value {
  font-size: 26px;
}
#bubble-wrap p, div#target_value {
  position: relative;
  top: 60px;
}
div#target_value {
  font-size: 50px;
  font-family: "Univers 75 Black";
  clear: both;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
div#fact-wrap {
  background: #262626;
  width: 260px;
}
div#facts {
  background: url(../../assets/images/theme/underline.png) repeat-x 0 26px;
  width: 215px;
  margin: 0 auto;
}
div#facts h4 {
  font-family: "Univers UltraCondensed";
  letter-spacing: .12em;
  font-size: 16px;
  text-align: center;
  display: none;
  text-transform: uppercase;
  background: #262626;
  padding: 20px 10px 0 10px;
  margin: 0 auto;
  width: 50px;
}
div#facts p {
  padding: 0 0 30px;
  text-align: center;
  font-style: italic;
}

/* Footer */
footer {
  background: url(../../assets/images/theme/bg_footer.png) repeat-x;
  font-family: "Univers 75 Black";
  text-transform: uppercase;
  font-size: 12px;
}
span#level, span#counter, span#restart {
  position: relative;
  top: 23px;
}
div.footer-tab {
  display: inline-block;
  background: #000;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  position: relative;
  top: 10px;
  margin-right: 8px;
}
div.footer-tab span {
  height: 55px;
  display: inline-block;
  padding: 0 32px;
  position: relative;
  top: 13px;
}
div.footer-tab.level-2.level-3 span {
  padding: 0 42px;
}
span#restart {
  color: rgb(0, 90, 132);
}
