body {
  background: url(../../assets/images/theme/bg.jpg) repeat;
  color: rgb(255,255,255);
  font-family: "Serifa Std";
}
div#wrapper {
  background: none;
}
h1 {
  font-family: "Univers39-UltraCondensedThin";
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  background: url(../../assets/images/theme/underline.png) repeat-x 0px 63px;
  font-weight: lighter;
  display: inline;
  float: left;
  padding-bottom: 20px;
  font-size: 54px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: rgb(128, 161, 182);
}
#glyphs li img {
  box-shadow: 0 0 5px #000;
}
#column-left {
  clear: both;
}
