body {
  background: url(../../assets/images/theme/bg.jpg) repeat;
  color: rgb(255,255,255);
  font-family: "Serifa Std";
}

div#language_bar {
  color: rgba(255,255,255,.5);
  height: 34px;
  padding-top: 16px;
  font-family: "Univers 75 Black";
  background: url(../../assets/images/theme/bg_header.png) repeat-x;
  text-transform: uppercase;
  font-size: 12px;
}
div#language_bar span#en {
  margin-right: 56px;
}
div#language_bar span#es {
  margin-right: 100px;
}
span.selected {
  color: rgb(255,255,255);
}

div#wrapper {
  background: none;
}
#column-left {
  clear: both;
}
#column-middle, div#facts {
  background: #262626;
  box-shadow: 0 0 15px #000;
}

h1 {
  font-family: "Univers39-UltraCondensedThin";
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  background: url(../../assets/images/theme/underline.png) repeat-x 0px 63px;
  font-weight: lighter;
  display: inline;
  float: left;
  padding-bottom: 20px;
  font-size: 54px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: rgb(128, 161, 182);
}

#glyphs li img {
  box-shadow: 0 0 7px #000;
}
.bucket div.dropzone {
  background: url(../../assets/images/theme/bg_bucket.png) no-repeat;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.bucket div.dropzone.full {
  opacity: 1;
}

div#status {
  border: none;
  position: static;
}
